:root {
    --body-bg-color: #DCDCDC;
    --text-color: #333333;
    --main-text-size: 18px;
    --main-bg-color: #FFFFFF;
    --primary-color: #e82f88;
}

html {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;

    font-family: Arial, sans-serif;
    font-size: var(--main-text-size);
}

body {
    background-color: var(--body-bg-color);
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

@media(min-width: 600px) {
    body {
        display: flex;    
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.content {
    display: block;
    position: relative;
    max-width: 560px;
    background-color: var(--main-bg-color);
    padding: 1em 0px;
}

.content > * {
    margin: 0.5em var(--main-text-size);
    padding: 0em;
}

.nickreid-logo::before {
    content: "";
    display: block;
    width: 100%;
    height: 186px;
    background-color: var(--primary-color);
    background-image: url('./images/nickreid-logo.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
}

@media(min-width: 600px) {
    .content.nickreid-logo {
        max-width: 600px;
        padding-left: 150px 
    }
    
    .content.nickreid-logo::before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 150px;
        height: 100%;
        background-size: 100% auto;
    }
}

.nickreid-picture {
    display: block;
    position: relative;
    padding-right: 170px;
}

.nickreid-picture::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 150px;
    background-image: url('./images/nickreid-picture.jpg');
    background-size: auto 100%;
    background-position: 30% 50%;
    background-repeat: no-repeat;
}


